.seccion-tres-contacto {
    width: 75%;
    margin: auto;
}

.div-dos-seccion-tres {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.h2-contacto {
    display: flex;
    justify-content: center;
    font-family: $font;
    font-size: 1.5em;
    padding: 2% 0;
    margin: 2% 0;
}

@media only screen and (max-width: $tablet) {
    .h1-contacto, .h2-contacto {
        font-size: 1.2em;
        text-align: center;
    }
}
