.seccion-tres-contacto {
    width: 75%;
    margin: auto;
    .div-seccion-tres {
        .h2-contacto {
            @extend %flex;
            font-family: $font;
            font-size: 1.5em;
            @include espaciado(2% 0, 2% 0);
            // padding: 2% 0;
            // margin: 2% 0;

            @media only screen and (max-width: $tablet) {
                .h1-contacto, .h2-contacto {
                font-size: 1.2em;
                text-align: center;
                }
            }
        }
    }
    .div-dos-seccion-tres {
        @extend %flex;
        margin-bottom: 2%;
    }
}

