/* Index.html */

.carousel-item {
    max-height: 350px;
}
section {
    .text-container {
        @extend %flex;
        h1 {
            text-align: center;
            text-decoration: underline;
            margin: 15px 0;
            font-family: $font;
        }
    }
}

.container-margin {
    .contenedor-img {
        img {
            border-radius: 10px;
            box-shadow: 17px 18px 5px 2px rgba(10,6,6,0.64);
            -webkit-box-shadow: 17px 18px 5px 2px rgba(10,6,6,0.64);
            -moz-box-shadow: 17px 18px 5px 2px rgba(10,6,6,0.64);
        }
    }
    .parrafo-container {
        @include alineacion(flex, center);
        p {
            font-family: $font;
            font-weight: bolder;
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            @include espaciado(10px, 5px);
        }
    }
}

.container-parallax {
    position: relative;
    background: url("../images/new-image/p3.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;

    @media screen and (max-width: $mobile) {
            display: none;
    }
    
}

.container {
    div {
        div {
            h2 {
                text-align: center;
                text-decoration: underline;
                margin: 15px 0;
                font-family: $font;
            }
        }
    }
}

.container-margin {
    div {
        .container-img-dos {
            @extend %flex;
            .image-index-dos {
                max-width: 50%;
                max-height: auto;
                border-radius: 10px;
                box-shadow: 17px 18px 5px 2px rgba(10,6,6,0.64);
                -webkit-box-shadow: 17px 18px 5px 2px rgba(10,6,6,0.64);
                -moz-box-shadow: 17px 18px 5px 2px rgba(10,6,6,0.64);
            }
        }
        div {
            .parrafo-index-ultimo {
                @include espaciado(10px, 5px);
                font-family: $font;
                font-weight: bolder;
                font-size: 20px;
                text-align: center;
                width: 100%;
            
                @media screen and (max-width: $mobile) {
                    text-align: center;
                }
            }
        }
    }
}