/* nosotros.html */

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate linear;
        li {
            width: 100%;
            list-style: none;
            img {
                width: 23%;
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

  /* ------------------------fin carousel--------- */

.seccion-dos-nosotros {
    .div-uno-nosotros {
        @extend %flex;
        h1 {
            text-decoration: underline;
            padding: 1%;
            font-family: "Fuzzy Bubbles", Times, serif;
        }
    }

    .div-dos-nosotros {
        p {
            font-size: 1em;
            @include espaciado(1%, 10px 12px);
            // padding: 10px 12px;
            // margin: 1%;
            line-height: 1.2em;
            font-family: "Fuzzy Bubbles", Times, serif;
        }
    }
}
.seccion-tres-nosotros {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
        @include alineacion(flex, center);
        flex-direction: column;
    }
    img {
        width: 19%;
        height: 250px;
        margin-bottom: 2%;

        @media screen and (max-width: 768px) {
            width: 70%;
            height: 250px;
            margin-bottom: 2%;
        }
    }
}