/* Sucursales.html */

.margins-container {
    @include espaciado(100px, 5px);
    margin: 100px;
    padding: 5px;

    @media only screen and (max-width: $tablet) {
        margin: 10px;
    }
    div {
        .container-h1 {
            @include espaciado(0 0 15px 0, 0 0 5px 0);
            // margin-bottom: 15px;
            // padding-bottom: 5px;
            h1 {
                text-align: center;
                font-family: $font;
            
                &:hover {
                    text-decoration: underline;
                }
            
                @media only screen and (max-width: $tablet) {
                    font-size: 0.9em;
                }
            }
        }
    }
    div {
        .img-container {
            @extend %flex;
            position: relative;
            img {
                width: 75%;
                object-fit: cover;
            
                &:hover {
                    opacity: 0;
                    transition: all 3s;
                }
            
                @media only screen and (max-width: $mobile) {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            div {
                img {
                    position: absolute;
                    top: 2%;
                    right: 15%;
                    z-index: -1;
                    width: 70%;
                    object-fit: cover;
                    border-radius: 15%;
                
                    @media only screen and (max-width: $mobile) {
                        display: none;
                    }
                }
            }
        }
    }
    div {
        @extend %flex;
        align-items: center;
        p {
            text-align: justify;
            @include espaciado(10px 0, 5px 12px);
            // padding: 5px 12px;
            // margin: 10px 0;
            color: black;
            font-family: $font;
            font-size: 1.5rem;
            white-space: normal;
            overflow: hidden;
            width: 100%;
        
            @media only screen and (max-width: $mobile) {
                font-size: 1em;
            }
        
            @media only screen and (max-width: $tablet) {
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
}