.seccion-dos-nosotros .div-uno-nosotros, .seccion-tres-contacto .div-dos-seccion-tres, .seccion-tres-contacto .div-seccion-tres .h2-contacto, .margins-container div, .margins-container div .img-container, .contenido, .container-section div h1, .container-margin div .container-img-dos, section .text-container {
  display: flex;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}
header .container-logo .logo {
  color: #fff;
}
@media screen and (min-width: 769px) {
  header .div-header ul li a:hover {
    transform: scale() 6px, 5%;
    transition: all 1s;
    border-radius: 5px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
  }
}
header #itemUno {
  color: #fff;
}
header #itemDos {
  color: #fff;
}
header #itemTres {
  color: #fff;
}
header #itemCuatro {
  color: #fff;
}
header #itemCinco {
  color: #fff;
}

footer {
  display: grid;
  grid-template-areas: "redes newsletter index";
  background-color: #a39e8b;
  border-top: 1px solid black;
}
footer .seccion-uno-footer {
  grid-area: redes;
  align-self: center;
}
footer .seccion-uno-footer .div-uno-footer {
  display: flex;
  justify-content: center;
  gap: 75px;
}
@media screen and (max-width: 768px) {
  footer .seccion-uno-footer .div-uno-footer {
    display: flex;
    justify-content: center;
    gap: 75px;
  }
}
footer .seccion-uno-footer .div-dos-footer {
  display: flex;
  justify-content: center;
}
footer .seccion-dos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .seccion-dos-footer .div-footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .seccion-dos-footer .div-footer form input {
  text-align: center;
}
footer .seccion-dos-footer .div-tres-footer {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .seccion-dos-footer .div-tres-footer p {
    margin: 10px;
  }
}
footer .seccion-tres-footer nav .ul-footer {
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  footer .seccion-tres-footer nav .ul-footer {
    display: none;
  }
}
footer .seccion-tres-footer nav .ul-footer li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer .seccion-tres-footer nav .ul-footer li a {
  text-decoration: none;
  width: 25%;
  text-align: center;
  margin: 1px 0px;
  color: black;
}
footer .seccion-tres-footer nav .ul-footer li a:hover {
  color: black;
  transform: scale() 6px, 5%;
  transition: all 1s;
  border-radius: 5px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-areas: "redes" "newsletter" "index";
    background-color: #9f9797;
    padding: 10px;
    gap: 10px;
  }
}

/* Index.html */
.carousel-item {
  max-height: 350px;
}

section .text-container h1 {
  text-align: center;
  text-decoration: underline;
  margin: 15px 0;
  font-family: "Fuzzy Bubbles", Times, serif;
}

.container-margin .contenedor-img img {
  border-radius: 10px;
  box-shadow: 17px 18px 5px 2px rgba(10, 6, 6, 0.64);
  -webkit-box-shadow: 17px 18px 5px 2px rgba(10, 6, 6, 0.64);
  -moz-box-shadow: 17px 18px 5px 2px rgba(10, 6, 6, 0.64);
}
.container-margin .parrafo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-margin .parrafo-container p {
  font-family: "Fuzzy Bubbles", Times, serif;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
}

.container-parallax {
  position: relative;
  background: url("../images/new-image/p3.jpg") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}
@media screen and (max-width: 480px) {
  .container-parallax {
    display: none;
  }
}

.container div div h2 {
  text-align: center;
  text-decoration: underline;
  margin: 15px 0;
  font-family: "Fuzzy Bubbles", Times, serif;
}

.container-margin div .container-img-dos .image-index-dos {
  max-width: 50%;
  max-height: auto;
  border-radius: 10px;
  box-shadow: 17px 18px 5px 2px rgba(10, 6, 6, 0.64);
  -webkit-box-shadow: 17px 18px 5px 2px rgba(10, 6, 6, 0.64);
  -moz-box-shadow: 17px 18px 5px 2px rgba(10, 6, 6, 0.64);
}
.container-margin div div .parrafo-index-ultimo {
  margin: 10px;
  padding: 5px;
  font-family: "Fuzzy Bubbles", Times, serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .container-margin div div .parrafo-index-ultimo {
    text-align: center;
  }
}

/* Productos.html */
.container-section div h1 {
  font-family: "Fuzzy Bubbles", Times, serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 50px 0 0 0;
  padding: 10px;
}
.container-section div p {
  font-family: "Fuzzy Bubbles", Times, serif;
}

.contenido {
  flex-direction: column;
}
.contenido img {
  width: 100%;
  height: 50%;
}
.contenido img:hover {
  transform: translate(6px, 5%);
  transition: all 1s;
  box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 768px) {
  .contenido img {
    justify-self: center;
  }
}
.contenido p {
  margin: 10px auto;
  padding: 10px 12px;
  text-align: center;
}

/* Sucursales.html */
.margins-container {
  margin: 100px;
  padding: 5px;
  margin: 100px;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .margins-container {
    margin: 10px;
  }
}
.margins-container div .container-h1 {
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
}
.margins-container div .container-h1 h1 {
  text-align: center;
  font-family: "Fuzzy Bubbles", Times, serif;
}
.margins-container div .container-h1 h1:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .margins-container div .container-h1 h1 {
    font-size: 0.9em;
  }
}
.margins-container div .img-container {
  position: relative;
}
.margins-container div .img-container img {
  width: 75%;
  object-fit: cover;
}
.margins-container div .img-container img:hover {
  opacity: 0;
  transition: all 3s;
}
@media only screen and (max-width: 480px) {
  .margins-container div .img-container img:hover {
    opacity: 1;
  }
}
.margins-container div .img-container div img {
  position: absolute;
  top: 2%;
  right: 15%;
  z-index: -1;
  width: 70%;
  object-fit: cover;
  border-radius: 15%;
}
@media only screen and (max-width: 480px) {
  .margins-container div .img-container div img {
    display: none;
  }
}
.margins-container div {
  align-items: center;
}
.margins-container div p {
  text-align: justify;
  margin: 10px 0;
  padding: 5px 12px;
  color: black;
  font-family: "Fuzzy Bubbles", Times, serif;
  font-size: 1.5rem;
  white-space: normal;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .margins-container div p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .margins-container div p {
    text-align: center;
    font-size: 0.8em;
  }
}

.seccion-tres-contacto {
  width: 75%;
  margin: auto;
}
.seccion-tres-contacto .div-seccion-tres .h2-contacto {
  font-family: "Fuzzy Bubbles", Times, serif;
  font-size: 1.5em;
  margin: 2% 0;
  padding: 2% 0;
}
@media only screen and (max-width: 768px) {
  .seccion-tres-contacto .div-seccion-tres .h2-contacto .h1-contacto, .seccion-tres-contacto .div-seccion-tres .h2-contacto .h2-contacto {
    font-size: 1.2em;
    text-align: center;
  }
}
.seccion-tres-contacto .div-dos-seccion-tres {
  margin-bottom: 2%;
}

/* nosotros.html */
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}
.slider ul li {
  width: 100%;
  list-style: none;
}
.slider ul li img {
  width: 23%;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* ------------------------fin carousel--------- */
.seccion-dos-nosotros .div-uno-nosotros h1 {
  text-decoration: underline;
  padding: 1%;
  font-family: "Fuzzy Bubbles", Times, serif;
}
.seccion-dos-nosotros .div-dos-nosotros p {
  font-size: 1em;
  margin: 1%;
  padding: 10px 12px;
  line-height: 1.2em;
  font-family: "Fuzzy Bubbles", Times, serif;
}

.seccion-tres-nosotros {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .seccion-tres-nosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.seccion-tres-nosotros img {
  width: 19%;
  height: 250px;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  .seccion-tres-nosotros img {
    width: 70%;
    height: 250px;
    margin-bottom: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
