footer {
    display: grid;
    grid-template-areas: "redes newsletter index";
    background-color: #a39e8b;
    border-top: 1px solid black;
    .seccion-uno-footer {
        grid-area: redes;
        align-self: center;
        .div-uno-footer {
            display: flex;
            justify-content: center;
            gap: 75px;

            @media screen and (max-width: $tablet) {
                display: flex;
                justify-content: center;
                gap: 75px;
            }
        }
        .div-dos-footer {
            display: flex;
            justify-content: center;
        }
    }
    .seccion-dos-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .div-footer {
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    text-align: center;
                }
            }
        }

        .div-tres-footer {
            display: flex;
            justify-content: center;
            p {
                @media screen and (max-width: $tablet) {
                    margin: 10px;
                }
            }
        }
    }
    .seccion-tres-footer {
        nav {
            .ul-footer {
                list-style-type: none;
                @media screen and (max-width: $tablet) {
                    display: none;
                }
                li {
                    list-style-type: none;
                    display: flex;
                    justify-content: center;
                    a {
                        text-decoration: none;
                        width: 25%;
                        text-align: center;
                        margin: 1px 0px;
                        color: black;

                        &:hover {
                            color: black;
                            transform: scale() (6px, 5%);
                            transition: all 1s;
                            border-radius: 5px;
                            box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }
        }
    
    }
    @media screen and (max-width: $tablet) {
        display: grid;
        grid-template-areas: "redes" "newsletter" "index";
        background-color: #9f9797;
        padding: 10px;
        gap: 10px;
    }
}